[lvm]
disp = "lvm"
desc = "Logical Volume Manager"

[lzw]
disp = "LZW"
desc = "Lempel–Ziv–Welch compression algorithm"
full = "Published in 1984 as an improved implementation of the LZ78 algorithm published by Lempel and Ziv in 1978. It is the algorithm of the widely used Unix file compression utility compress and is used in the GIF image format."

[lisp]
disp = "Lisp"
desc = "LISt Processor"
full = "A family of programming languages with a long history and a distinctive, fully parenthesized prefix notation. Originally specified in 1958."

[lcd]
disp = "LCD"
desc = "Liquid-crystal Display "

[lsb]
disp = "LSB"
desc = "Linux Standards Base"

[lop]
disp = "LOP"
desc = "Language-oriented programming"

[led]
disp = "LED"
desc = "light-emitting Diode"
see = ["OLED"]

[lsp]
disp = "LSP"
desc = "Language Server Protocol"

[ld]
disp = "LD"
desc = "Link eDitor or Loader"

[loc]
disp = "loc"
desc = "Lines of Code"
same = "sloc"

[llvm]
disp = "LLVM"
desc = "Low Level Virtual Machine"

[ldc]
disp = "LDC"
desc = "LLVM-based D Compiler"

[lto]
disp = "LTO"
desc = "Link Time Optimization used by GCC"

[lvfs]
disp = "LVFS"
desc = "Linux Vendor Firmware Service"

[lwip]
disp = "lwIP"
desc = "lightweight IP"
full = "A widely used open-source TCP/IP stack designed for embedded systems"

[i2s]
disp = "I2S"
desc = "Inter-IC Sound Bus"

[lml]
disp = "LML"
desc = "Lightweight Markup Language"
full = "such as AsciiDoc, Markdown, Org-mode, MediaWiki, POD and so on"

[lttng]
disp = "LTTng"
desc = "Linux Trace Toolkit: next generation"
